*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
    margin: 2px;
}

body{
    background: #7F00FF;
}

header{
    height: 200px;
    width: 100%;
    padding: 20px;
    margin:0;
    background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #e100ff, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: -3px 15px 15px rgb(255, 255, 255);
}


.title{
    padding: 5px;
    color: black;
}

.menu{
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    background: #000;
    text-decoration: none;
}

.menu a{
    margin: 10px;
    padding: 20px;
    color: #fff;
}

.menu a:hover{
    background: -webkit-linear-gradient(to top, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px;
    text-decoration: none;
}

.productos h2{
    padding: 20px;
    text-align: center;
    margin: 25px;
    font-size: 37px;
}


.galeria-productos{
    display: flex;
    margin-top: 40px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
 
}

.galeria-productos .galeria-img{
    position: relative;
    overflow: hidden;
    width: 32%;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px rgb(255, 255, 255);
    border-radius: 10px;
}

.galeria-img img{
    width: 100%;
    object-fit: cover;
    height: 250px;
    vertical-align: top;
    transform: scale(1);
    transition: transform .6s;
}


.galeria-img img:hover{
    transform: scale(1.3);
}

.galeria-img:hover .extra-galeria{
    transform: translate(0);
}


.extra-galeria{
    position: absolute;
    top: 0;
    background: rgba(136, 7, 196, 0.6);
    width: 100%;
    height: 100%;
    transform: translate(100%, 100%);
    transition: transform .6s;
}


.extra-galeria p{
    width: 95%;
    margin: 10px auto;
    color: #fff;
    font-weight: 300;
    text-align: justify;
}

.package{
    padding: 50px;
    text-align: center;
    margin: 10px;
}

.package h3{
    font-size: 37px;
    margin: 30px;
    padding-bottom: 20px;
}

.paquetes{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px;
    
}

.paquetes .combos-paquetes{
    width: 30%;
    background: #000;
    border-radius: 3px;
    padding: 20px 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
}

.combos-paquetes i{
    display: block;
    font-size: 50px;
    margin-bottom: 15px;
    color: #fff;
}

.combos-paquetes h4{
    margin-bottom: 15px;
    color:rgba(200,0,60,0.6);
}

.combos-paquetes p{
    font-weight: 300;
    margin-bottom: 10px;
    color: #fff;
}


.precios h3{
    padding: 20px;
    text-align: center;
    font-size: 37px;
    margin: 15px;
}


.precios-tablas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tabla{
    background: #000;
    width: 29%;
    text-align: center;
    border-radius: 4px;
    padding: 40px 0;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
    color: #fff;
    transform: scale(1);
    transition: transform 1s;
}

.tabla h5{
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

.tabla .price{
    color: rgba(200,0,60,0.6);
    font-weight: bold;
    margin-bottom: 30px;
}

.tabla .price span{
    font-size: 24px;
}

.tabla ul li{
    display: block;
    list-style: none;
    border-bottom: 1px dotted #ffffff;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.tabla>a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: rgba(200,0,60,0.6);
    width: 140px;
    border-radius: 10px;
    padding: 10px 0;
}

.tabla:hover{
    transform: scale(1.07);
}

.contactar{
    color: #fff;
}

footer{
    background: #000;
    padding: 40px 0;
    width: 100%;
    display: flex;
    margin-top: 25px;
}

footer .contactar{
    padding: 40px;
}

.contactar p{
    margin: 5px;
    justify-content: center;
    align-items: center;
}
